---
import Navigation from '../components/Navigation.astro';
import Hamburguer from '../components/Hamburguer.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
---

<header>
    <ThemeIcon />
    <nav>
        <Hamburguer/>
       
        <Navigation/ >
    </nav>
</header>