---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

import '../styles/global.css'

const { pageTitle} = Astro.props;
---


<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>

	<Header />
    <h1>{pageTitle}</h1>
    <!--slot se utiliza para inyectar contenido Hijo -->
    <slot />
	<h3>Este es el subtítulo de inyectado desde un Slot</h3>
	<p>Párrafo inyectado desde un slot, esto permite utilizar un child a BaseLayout</p>
	<Footer/>

	<script>
	 import "../scripts/menu.js";
	</script>
  </body>
  </body>
</html>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

</style>

